option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: "1"
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: "true"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: "7"

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/app.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log
      /var/log/nginx/access.log
      /var/log/nginx/error.log
      /opt/python/log/*
