option_settings:
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /health

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: FLASK_ENV
    value: production

  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /static
    value: app/static
