<footer>
    <p>
        <strong>
            Disclaimer: Educational use only. Data may be inaccurate or
            incomplete. Always use official sources.
        </strong>
    </p>
    <p>
        This version was created by Simon Steiner, is based on
        <a href="https://airspaces.bargen.dev/">Airspace Visualizer</a> by
        <a href="https://bargen.dev/">Danilo Bargen</a>. Powered by
        <a href="https://github.com/simonsteiner/openair-rs-py/" target="_blank">
            openair-rs-py
        </a>
    </p>
</footer>